html {
font-family: 'Montserrat', 'Arial', sans-serif;
    margin:0px;
    padding:0px;
}
body{
    background-color: #9ECAA9;
   margin:0px;
    padding:0px;
}
nav {
    background-color:#5CBF74;
    
}

#navTitle {
    color:white;
    padding:7px;
    text-align: center;

}

.icon{
    width:90%;
    
}

#container {
    margin: 20px;
    background-color: #5CBF74;
    padding:10px;
    max-width: 100%;
    padding-bottom: 30px;
}


.col{
    text-align: center;
    
}

.row{
    width: 100%;
    margin-left: 1px;
}
#quickTip{
    background-color:#197F53;
    margin:30px;
    color:white;
    padding:5px;
 
    
    border-radius: 10px;
    
    
}

/** Animation to grow card on hover **/
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;


    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.07);
}

/** Lists **/
.back {
    display:inline !important;
    color:white;
    float:left;
    padding-top:5px;
    
}

#newList{
    background-color:#197F53;
    margin:30px;
    color:white;
    padding:5px;
    text-align: center;
 
    
    border-radius: 10px;
}
.btn-success{
    background-color:green;
        width:80%;
}
.btn-danger{
    width:15%
}
#addAnItem{
    width:100%;
    margin-bottom:20px;
    background-color:#197F53;
    text-align: center;
    max-width:90%;
    
    
    
}
#center{
    text-align: center;
}

#addAnItem::placeholder{
    text-align: center;
}

#listItem{
    
    background-color: white;
    color:black;
    list-style-type: none;
    margin:1px;
    width:100%;
    font-size:140%;
    padding-left:20px;
}
.plus {
    float:left;
    padding-left:10px;
    

}
.checkAll{
    margin-left:40px;
    margin-bottom:10px;
}

[v-cloak] { display: none; }


/** Info **/
#info{
     background-color:#197F53;
    text-align: center;
    color:white;
    padding:5px;
    margin:1px;
    border: 1px solid white;
    
}
#infoText{
    color:white;
    margin-top:10px;
    margin-bottom: 10px;;
    
}
li {
       
}

/* Slideout Menu */
.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 330px;
    min-height: 100vh;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #FFF; /* A background-color is required */
    min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

.menuIcon
{

    height:50px;
}
.menuPageNames
{
    color:white;
    font-size: 2em;
    position:relative;
    top: 8px;
    float: right;
    margin-right: 60px;

}
.menuVertical {
    margin-top: 10px;
}
.menuVertical li {
    list-style-type: none;
}

.menuVertical hr {
    border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, #5CBF74, #f0f0f0, #5CBF74);
    background-image: -moz-linear-gradient(left, #5CBF74, #f0f0f0, #5CBF74);
    background-image: -ms-linear-gradient(left, #5CBF74, #f0f0f0, #5CBF74);
    background-image: -o-linear-gradient(left, #5CBF74, #f0f0f0, #5CBF74);
    position: relative;
    left:-50px;
    width:356px;
}
.menuLinks {
    display: block;
}