html {
font-family: 'Montserrat', 'Arial', sans-serif;
    
}
body{
    background-color: #9ECAA9
}
nav {
    background-color:#5CBF74;
    height:50px;
    text-align: center;
    margin: 0;
    margin-top:0;
}

#navTitle {
    color:white;
    
}

#container {
    margin: 20px;
    background-color: #5CBF74;
    height:400px;
    
    
}

.col{
    text-align: center;
    
}

.row{
    width: 100%;
    margin-left: 1px;
}