.listItem > li{
    background-color: #00b74f;
    color:white;
    list-style-type: none;
    width:100%;
    font-size:140%;
    padding-left:10%;
    margin-bottom:
}
#fridgeList{
    padding:0px;
  margin: 0 auto;
}
#quantityManager{
    background-color: white;
    color:black;
    text-align:center;
    border-style:solid;
    border-color:#197F53;
    min-height:150px;

}
#quantityManagerContent{
    color:black;
    text-align:center;
    width:100%;
    margin-top:10px;
}

#selected{
    background-color: #197F53;
    color:white;
    width:100%;
}

.no_bottom{
    margin-bottom: 0px;
    width:100%;
    padding-left: 0px !important;
}

#addvegbutton{
    width:90%;
    white-space: normal;
   
}
#largebutton{
    
    width:100% !important;
    white-space: normal;
    
}

#trashbutton{
    min-width:100%;
    white-space: normal;
}

#fridgeContent{
    width:100%;
    
}
#largeSelector{
}
#buttonrow{
    width:100%;
    margin: 0 auto;
    padding:0;
}
.myFridgeContent {
    padding:30px 0;
    width:100%;
 margin: 0 auto;
}
.center {
    text-align:center;
    
}