
.card {
	border: px solid black;
	border-radius: 0px;
	background-color: white;
	padding: 5px;
      box-shadow: 0 4px 8px 0 #e0e7ef, 0 6px 20px 0 #e0e7ef;
}

#dollarSign{
    display: inline-block;
	height: 50%;
	width: 50%;
	margin-left: -10px
}

.bigText {
	font-size: 300%;
	vertical-align: middle;
}

#cartIcon {
	display: inline-block;
	height: 40%;
	width: 40%;
	padding: 2px;
	margin: 2px;
	margin-bottom: auto;
}

.smallText {
	font-size: 80%;
	vertical-align: middle;
}

.foodIcon {
	max-height: 50px;
	max-width: 50px;
	display: inline-block;
	border-radius: 2px;
	border: 1px solid black;
	background-color: white;
	margin: 0px;
}

#appleIcon {
	height: 100%;
	width: 100%;
	margin: 0px;
}

#smallDollarSign{
    display: inline-block;
	height: 25%;
	width: 25%;
	margin-left: -10px
}

.mediumText {
	vertical-align: middle;
}
